.colortext a{
	color:white;
	display: inline-block;
}

.error{
	color: red;
}

.fa-eye {
	font-size: 14px;
}

.margin-bottom-10px {
	margin-bottom: 10px;
}

.bgc-green {
	background-color: green;
	color: white;
}

.bgc-red {
	background-color: red;
	color: white;
}